
help{
	section.lightbox > div.content{
		width: 920px;
		max-width: 100%;
		box-sizing: border-box;
		background: #fff;
		.sect1{
			width: 640px;
			float: right;
			img{
				max-width: 100%;
				display: block;
			}
		}
		#preamble{
			margin-top: 15px;
			.ulist{
				float: left;
				width: 250px;
			}
		}
		h2{
			width: 100%;
		}
	}
	#content::after {
		content: " ";
		display: block;
		width: 100%;
		clear: both;
	}
}
